@import url('../variables.less');

footer {
  background: @colorAlt3;
  padding: 20px;

  .logo {
    display: inline;

    a {
      display: inline-block;
      background-image: url(/src/assets/images/logo.svg);
      background-size: 207px 30px;
      width: 207px;
      height: 30px;
    }
  }
}