@import url('../variables.less');

header {
  position: sticky;
  top: 0;
  padding: 20px;
  // box-shadow: inset 0px -1px 0px 0px @colorAlt1;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  .logo {
    display: inline;

    img {
      max-height: 30px;
      width: auto;
    }
  }
}